.navbar-container {
  position: relative;
  height: 120px; /* Set the desired height for your navbar */
  overflow: hidden;
}

.navbar li {
  margin: 30px;
  font-weight: lighter;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  color: #fff; /* Text color for the navbar links */
  margin-bottom: 0px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 200;
}

.signup-button {
  padding: 20px;
  background: linear-gradient(to right, #e66910, #f59551);
  padding: 15px;
  border-radius: 50px;
}

.signup-button a {
  background: linear-gradient(to right, #e66910, #f59551);
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('C:\Users\Harsh Bhat\OneDrive\Desktop\Cosmic Calm\cosmic_calm\cosmic_calm_frontend\src\images\background.jpeg') no-repeat center center fixed; /* Set the path to your background image */
  background-size: cover;
  z-index: 0;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)); /* Adjust the overlay gradient */
  z-index: 1;
}